{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

{% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Your username or password is incorrect!
            {% for field in form  %}
                {% if field.errors %}
                    {{ field.label_tag }} {{ field.errors }}
                {% endif %}
            {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
{% endif %}

    <div class="row h-100 justify-content-center align-items-center">
        <form class="col-md-6" method="POST" >
            <h2>Login</h2>
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="text" name="username" required class="form-control" id="exampleInputEmail1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="password" required class="form-control" id="exampleInputPassword1">
                {% comment %} <a class="text-decoration-none" href="{% url "signup" %}">Sign Up&nbsp;</a> {% endcomment %}
                <a class="text-decoration-none" href="{% url 'password_reset' %}">Forgot your password</a>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </dev>

{% endblock %}