{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}

{% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Your form has errors:
            {% for field in form  %}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    <div class="row h-100 justify-content-center align-items-center">
        <form class="col-md-6" method="POST" >
            <h2>Reset your password</h2>
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">New password</label>
                <input type="password" name="new_password1" required class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirm password</label>
                <input type="password" name="new_password2" required class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Change password</button>
        </form>
    </dev>
{% endblock %}