{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}

{% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Your form has errors:
            {% for field in form  %}
                {% if field.errors %}
                    {{ field.errors }} 
                {% endif %}
            {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
{% endif %}

    <div class="row h-100 justify-content-center align-items-center">
        <form class="col-md-6" method="POST" >
            <h2>Sign Up</h2>
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="text" name="username" value="{{username}}" required class="form-control" id="exampleInputEmail1">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">First name</label>
                <input type="text" name="first_name" value="{{first_name}}"  required class="form-control" id="exampleInputEmail1">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Last name</label>
                <input type="text" name="last_name" required class="form-control" id="exampleInputEmail1">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" name="email" required class="form-control" id="exampleInputEmail1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="password1" required class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Repeat password</label>
                <input type="password" name="password2" required class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </dev>
{% endblock %}